<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>S-Shoe</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!--    thư viện của bảng tích hợp tìm kiếm-->
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css'>

    <!-- thư viện thêm ảnh -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <!-- Favicons -->
    <link href="../../../static/img/favicon.png" rel="icon">
    <link href="../../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../../static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../../static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../../static/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../../static/css/style.css" rel="stylesheet">
    <style>
        .dataTables_length {
        }
    </style>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/ban-hang-tai-quay/hoa-don" class="logo d-flex align-items-center">
            <img src="../../../static/img/logo.png" alt="">
            <span class="d-none d-lg-block">S-Shoe</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${tenNhanVien}"></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 th:text="${tenNhanVien}"></h6>
                        <span>Nhân Viên</span>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Đăng Xuất</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/thong-ke">
                <i class="bi bi-graph-up-arrow"></i>
                <span>Thống Kê</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/ban-hang-tai-quay/hoa-don">
                <i class="bi bi-shop"></i>
                <span>Bán Hàng</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản Lý Sản Phẩm</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/san-pham-chi-tiet" class="active">
                        <i class="bi bi-circle"></i><span>Sản Phẩm Chi Tiết</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/san-pham">
                        <i class="bi bi-circle"></i><span>Sản Phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/thuong-hieu">
                        <i class="bi bi-circle"></i><span>Thương Hiệu</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/loai-de">
                        <i class="bi bi-circle"></i><span>Loại Đế</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/mau-sac">
                        <i class="bi bi-circle"></i><span>Màu Sắc</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/kich-co">
                        <i class="bi bi-circle"></i><span>Kích Cỡ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/hoa-don/quan-ly">
                <i class="bi bi-receipt-cutoff"></i>
                <span>Quản Lý Hóa Đơn</span>
            </a>
        </li><!-- End Forms Nav -->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="/ban-hang-tai-quay/doi-tra">-->
<!--                <i class="bi bi-truck"></i>-->
<!--                <span>Trả hàng</span>-->
<!--            </a>-->
<!--        </li>&lt;!&ndash; End Forms Nav &ndash;&gt;-->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-vcard"></i><span>Quản Lý Tài Khoản</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/nhan-vien">
                        <i class="bi bi-circle"></i><span>Quản Lý Nhân Viên</span>
                    </a>
                </li>
                <li>
                    <a href="../admin/khach-hang">
                        <i class="bi bi-circle"></i><span>Quản Lý Khách Hàng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="../admin/voucher">
                <i class="bi bi-ticket-perforated-fill"></i>
                <span>Quản Lý Voucher</span>
            </a>
        </li><!-- End Icons Nav -->
    </ul>
</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản Lý Chi Tiết Sản Phẩm</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row g-3">
                            <div class="col-md-12">
                                <a class="btn btn-link" style="float: left;margin-top: 1%;"
                                   href="/admin/san-pham-chi-tiet">
                                    <i class=" bi bi-arrow-left-circle-fill"></i>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="text-align: center">
                                    Cập Nhật Chi Tiết Sản Phẩm
                                </h1>
                            </div>
                            <div class="col-md-12">
                                <div class="row g-3" style="margin-top: 2%;width: 95%; margin: auto">
                                    <div class="col-md-12">
                                        <label class="col-form-label">
                                            <span class="dausao">*</span>Tên sản phẩm:
                                        </label>
                                        <input type="text" class="form-control"
                                               th:value="${sanPhamDetail != null ? sanPhamDetail.ten : ''}" disabled>

                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-form-label">
                                            <span class="dausao">*</span>Thương Hiệu:
                                        </label>
                                        <!-- Kiểm tra nếu sanPhamDetail không null thì hiển thị giá trị, ngược lại hiển thị một giá trị mặc định hoặc không hiển thị gì cả -->
                                        <input type="text" class="form-control"
                                               th:value="${sanPhamDetail != null ? sanPhamDetail.thuongHieu.ten : ''}"
                                               disabled>

                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">
                                            <span class="dausao">*</span>Ngày Tạo:
                                        </label>
                                        <!-- Kiểm tra nếu sanPhamDetail không null thì hiển thị giá trị, ngược lại hiển thị một giá trị mặc định hoặc không hiển thị gì cả -->
                                        <input type="text" class="form-control"
                                               th:value="${#dates.format(listCTSP[0].ngayTao, 'HH:mm dd/MM/yyyy')}"
                                               disabled>

                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">
                                            <span class="dausao">*</span>Ngày Sửa:
                                        </label>
                                        <!-- Kiểm tra nếu sanPhamDetail không null thì hiển thị giá trị, ngược lại hiển thị một giá trị mặc định hoặc không hiển thị gì cả -->
                                        <input type="text" class="form-control"
                                               th:value="${#dates.format(listCTSP[0].ngaySua, 'HH:mm dd/MM/yyyy')}"
                                               disabled>

                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-form-label"><span
                                                class="dausao">*</span>Mô tả</label>
                                        <textarea class="form-control"
                                                  th:text="${sanPhamDetail != null ? sanPhamDetail.moTa : ''}"
                                                  id="exampleFormControlTextarea1" rows="3" disabled>
                                        </textarea>
                                    </div>


                                    <div class="col-md-12" id="nhapFullDuLieu">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label">
                                                    <span class="dau-sao">*</span>Chọn Tất Cả Trạng thái:</label>
                                                <div style="margin-top: 1%;">
                                                    <input class="form-check-input" id="trangThai1" type="radio"
                                                           name="trangThai1" style="margin-left:5%;"
                                                           onchange="selectOnChange(0)">
                                                    <label class="form-check-label" for="trangThai1">Đang hoạt
                                                        động</label>

                                                    <input class="form-check-input" id="trangThai2" type="radio"
                                                           name="trangThai1" style="margin-left:5%;"
                                                           onchange="selectOnChange(1)">
                                                    <label class="form-check-label" for="trangThai2">Ngừng hoạt
                                                        động</label>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <label class="form-label">
                                                            <span class="dau-sao">*</span>Nhập tất cả số lượng:</label>
                                                        <input class="form-control" type="number"
                                                               oninput="updateInputsSoLuong(this)">
                                                        <script>
                                                            function updateInputsSoLuong(sourceInput) {
                                                                // Lấy giá trị của input nguồn
                                                                var sourceValue = sourceInput.value;
                                                                console.log(sourceValue)
                                                                const donGiaInputs = document.getElementsByName("listSoLuong");
                                                                for (let i = 0; i < donGiaInputs.length; i++) {
                                                                    donGiaInputs[i].value = sourceValue

                                                                }
                                                            }
                                                        </script>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-label">
                                                            <span class="dau-sao">*</span> Nhập tất cả giá:</label>

                                                        <input class="form-control" type="number"
                                                               oninput="updateInputsGia(this)">
                                                        <script>
                                                            function updateInputsGia(sourceInput) {
                                                                // Lấy giá trị của input nguồn
                                                                var sourceValue = sourceInput.value;
                                                                console.log(sourceValue)
                                                                const donGiaInputs = document.getElementsByName("listDonGia");
                                                                for (let i = 0; i < donGiaInputs.length; i++) {
                                                                    donGiaInputs[i].value = sourceValue

                                                                }
                                                            }
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form th:action="@{/admin/san-pham-chi-tiet/update}" method="post"
                                      enctype="multipart/form-data"
                                      class="row g-3" style="margin-top: 2%;width: 95%; margin: auto">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Kích Cỡ</th>
                                                <th scope="col">Màu Sắc</th>
                                                <th scope="col">Loại Đế</th>
                                                <th scope="col" style="width: 18%">Trạng Thái</th>
                                                <th scope="col" style="width: 12%">Số Lượng</th>
                                                <th scope="col" style="width: 17%">Đơn Giá</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="chiTietSanPham,iterStat : ${listCTSP}">

                                                <input type="hidden" th:value="${chiTietSanPham.id}"
                                                       name="listIdChiTietSp">
                                                <select hidden=class="form-control" name="listSanPham"
                                                        aria-label="Default select example">
                                                    <option th:value="${chiTietSanPham.sanPham.id}"
                                                            th:label="${chiTietSanPham.sanPham.ten}"></option>
                                                </select>

                                                <td th:text="${iterStat.index+1}"></td>

                                                <td>
                                                    <select class="form-control" name="listKichCo"
                                                            style="color: black; pointer-events: none; user-select: none; opacity: 0.6;"
                                                            aria-label="Default select example">
                                                        <option th:value="${chiTietSanPham.kichCo.id}"
                                                                th:label="${chiTietSanPham.kichCo.ten}"></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="listMauSac"
                                                            style="color: black; pointer-events: none; user-select: none; opacity: 0.6;"
                                                            aria-label="Default select example">
                                                        <option th:value="${chiTietSanPham.mauSac.id}"
                                                                th:label="${chiTietSanPham.mauSac.ten}"></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="listLoaiDe"
                                                            style="color: black; pointer-events: none; user-select: none; opacity: 0.6;"
                                                            aria-label="Default select example">
                                                        <option th:value="${chiTietSanPham.loaiDe.id}"
                                                                th:label="${chiTietSanPham.loaiDe.ten}"></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <style>
                                                        #selectTrangThai1 {
                                                            background-color: rgb(19, 163, 19);
                                                        }

                                                        #selectTrangThai2 {
                                                            background-color: #ff5959;
                                                        }
                                                    </style>
                                                    <select class="form-control listTrangThai"
                                                            th:id="${chiTietSanPham.trangThai == 0} ? 'selectTrangThai1' : 'selectTrangThai2'"
                                                            name="listTrangThai"
                                                            aria-label="Default select example">
                                                        <option th:value="0" th:label="|Đang hoạt động|"
                                                                th:selected="${chiTietSanPham.trangThai == 0}"></option>
                                                        <option th:value="1" th:label="|Ngừng hoạt động|"
                                                                th:selected="${chiTietSanPham.trangThai == 1}"></option>
                                                    </select>
                                                    <script>
                                                        // Hàm xử lý sự kiện onchange của radio buttons
                                                        function selectOnChange(trangThai) {
                                                            // Lấy thẻ select
                                                            var selectElements = document.querySelectorAll('.listTrangThai');

                                                            // Chọn option tương ứng với giá trị của radio button
                                                            selectElements.forEach(function (selectElement) {
                                                                selectElement.value = trangThai;
                                                            });
                                                        }
                                                    </script>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" min="0" name="listSoLuong"

                                                           th:value="${chiTietSanPham.soLuong}">
                                                    <div class="error-message"
                                                         th:id="'checkSoLuong' + ${iterStat.index}"
                                                         style="display: none;color: #ff0000;font-size: 14px;font-weight: bold;"></div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="listDonGia"
                                                           th:value="${chiTietSanPham.giaHienHanh}"
                                                           oninput="formatDonGia()">
                                                    <div class="error-message" th:id="'checkDonGia' + ${iterStat.index}"
                                                         style="display: none;color: #ff0000;font-size: 14px;font-weight: bold;"></div>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" onclick="return checkSuaCtsp()" class="btn btn-warning">
                                            Cập nhật
                                        </button>
                                        <script>
                                            function checkSuaCtsp() {
                                                const soLuongInputs = document.getElementsByName("listSoLuong");
                                                const donGiaInputs = document.getElementsByName("listDonGia");

                                                let hasError = false; // Biến flag để kiểm tra lỗi

                                                for (let i = 0; i < donGiaInputs.length; i++) {
                                                    const checkDonGia = donGiaInputs[i].value;
                                                    const errorDiv = document.getElementById("checkDonGia" + i);

                                                    if (checkDonGia < 10000 || checkDonGia >= 1000000000) {
                                                        hasError = true; // Có lỗi
                                                        errorDiv.style.display = "block"; // Hiển thị div thông báo lỗi
                                                        errorDiv.textContent = (checkDonGia < 10000) ? "Giá phải >= 10000" : "Giá phải <= 1000000000"; // Hiển thị thông báo lỗi
                                                    } else {
                                                        errorDiv.style.display = "none"; // Ẩn div thông báo lỗi nếu giá trị hợp lệ
                                                    }
                                                }

                                                for (let i = 0; i < soLuongInputs.length; i++) {
                                                    const checkSoLuong = soLuongInputs[i].value;
                                                    const errorDiv = document.getElementById("checkSoLuong" + i);

                                                    if (checkSoLuong == "") {
                                                        hasError = true; // Có lỗi
                                                        errorDiv.style.display = "block"; // Hiển thị div thông báo lỗi
                                                        errorDiv.textContent = "Không được để null"; // Hiển thị thông báo lỗi
                                                    } else if (checkSoLuong < 0 || checkSoLuong >= 100000) {
                                                        hasError = true; // Có lỗi
                                                        errorDiv.style.display = "block"; // Hiển thị div thông báo lỗi
                                                        errorDiv.textContent = (checkSoLuong < 0) ? "Số lượng phải >= 0" : "Số lượng phải <= 100000"; // Hiển thị thông báo lỗi
                                                    } else {
                                                        errorDiv.style.display = "none"; // Ẩn div thông báo lỗi nếu giá trị hợp lệ
                                                    }
                                                }

                                                if (!hasError) {
                                                    return true; // Trả về true nếu không có lỗi
                                                } else {
                                                    return false; // Trả về false nếu có lỗi
                                                }
                                            }
                                        </script>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


</main>

<!--<script>-->
<!--    function formatVND(value) {-->
<!--        value = value.replace(/\D/g, '');-->
<!--        if (value.length === 0) return '0 VNĐ';-->
<!--        return value.replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' VNĐ';-->
<!--    }-->

<!--    function updateInputsGia(sourceInput) {-->
<!--        const formattedValue = formatVND(sourceInput.value);-->
<!--        const donGiaInputs = document.getElementsByName("listDonGia");-->
<!--        for (let i = 0; i < donGiaInputs.length; i++) {-->
<!--            donGiaInputs[i].value = formattedValue;-->
<!--        }-->
<!--    }-->

<!--    function updateInputsSoLuong(sourceInput) {-->
<!--        const sourceValue = sourceInput.value;-->
<!--        const soLuongInputs = document.getElementsByName("listSoLuong");-->
<!--        for (let i = 0; i < soLuongInputs.length; i++) {-->
<!--            soLuongInputs[i].value = sourceValue;-->
<!--        }-->
<!--    }-->

<!--    function formatDonGia(input) {-->
<!--        input.value = formatVND(input.value);-->
<!--    }-->

<!--    function selectOnChange(trangThai) {-->
<!--        const selectElements = document.querySelectorAll('.listTrangThai');-->
<!--        selectElements.forEach(selectElement => {-->
<!--            selectElement.value = trangThai;-->
<!--        });-->
<!--    }-->

<!--</script>-->

<!--Thông báo thành công-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='thanhCong'}">
        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastSuccess'));
            liveToast.show();
        });
    </script>

    <div id="liveToastSuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="  background-color: rgba(62, 189, 97,0.2);border:2px solid #3ebd61;  border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_notification.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                        <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: #3ebd61;">
                            Thành công</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo thành công end-->

<!--Thông báo cảnh báo-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='canhBao'}">
        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastWarning'));
            liveToast.show();
        });
    </script>
    <div id="liveToastWarning" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style=" background-color: rgba(239, 148, 0, 0.2);border:2px solid #fcca1b;  border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_warning.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                        <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: #fcca1b;">
                            Cảnh báo</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo cảnh báo end-->

<!--Thông báo thất bại-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='thaiBai'}">

        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastDanger'));
            liveToast.show();
        });
    </script>
    <div id="liveToastDanger" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="background-color: rgb(252,134,134);border:2px solid #ff2020;border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_danger.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                        <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: white;">
                            Lỗi</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo thất bại end-->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        <!-- &copy; Copyright <strong><span>Glacat</span></strong>. All Rights Reserved -->
    </div>
    <div class="credits">
        Website bán giày S-Shoe
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!--    thư viện của bảng tích hợp tìm kiếm-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js'></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "language": {
                "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ kết quả",
                "emptyTable": "Không có kết quả nào được tìm thấy",
                "zeroRecords": "Không có kết quả phù hợp",
                "infoEmpty": "Không có dữ liệu để hiển thị"
            },
            "initComplete": function (settings, json) {
                // CSS changes
                $('#example_filter input[type="search"]').addClass('form-control');
                $('#example_filter input[type="search"]').attr('placeholder', 'Tìm kiếm');
                $('#example_filter label').contents().filter(function () {
                    return this.nodeType === 3;
                }).replaceWith(' ');

                $('#example_length label').contents().filter(function () {
                    return this.nodeType === 3;
                }).first().replaceWith('Hiển thị');
                $('#example_length label').contents().filter(function () {
                    return this.nodeType === 3;
                }).last().replaceWith('mục');

                $('#example_length select').addClass('form-select');
            }
        });

        table.on('draw.dt', function () {
            var pageInfo = table.page.info();

            var newInfo = 'Hiển thị ' + pageInfo.start + ' đến ' + pageInfo.end + ' trong tổng số ' + pageInfo.recordsDisplay + ' kết quả';
            $('#example_info').html(newInfo);

        });
    });
</script>
<style>
    /*input tìm kiếm*/
    #example_filter input[type="search"] {
        width: 180%;
        margin-left: -80%;
        margin-bottom: 10%;
    }

    /*select hiển thị mục*/
    .dataTables_length label {
        white-space: nowrap;
        /* Ngăn các phần tử xuống dòng */
        display: flex;
        /* Hiển thị label và select trên cùng một dòng */
        align-items: center;
        /* Canh chỉnh label và select theo chiều dọc */
    }

    .dataTables_length select {
        margin-left: 5px;
        /* Tạo khoảng cách giữa label và select */
    }

    .dataTables_length label:after {
        /* Sử dụng pseudo-element :after để ẩn văn bản cuối cùng */
        content: '';
        /* Xóa nội dung */
    }
</style>
<!--    thư viện của bảng tích hợp tìm kiếm end-->

<script src="../../../static/vendor/apexcharts/apexcharts.min.js"></script>
<script src="../../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../static/vendor/chart.js/chart.umd.js"></script>
<script src="../../../static/vendor/echarts/echarts.min.js"></script>
<script src="../../../static/vendor/quill/quill.min.js"></script>
<script src="../../../static/vendor/simple-datatables/simple-datatables.js"></script>
<script src="../../../static/vendor/tinymce/tinymce.min.js"></script>
<script src="../../../static/vendor/php-email-form/validate.js"></script>

<!-- thư viện thêm ảnh -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- thư viện thêm ảnh end -->

<!-- Template Main JS File -->
<script src="../../../static/js/main-off.js"></script>
</body>

</html>