<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>S-Shoe</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="../../../static/img/favicon.png" rel="icon">
    <link href="../../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!--    thư viện của bảng tích hợp tìm kiếm-->
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css'>
    <!--    thư viện của bảng tích hợp tìm kiếm end-->

    <div th:replace="~{admin/fragment/header :: header}"></div>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/ban-hang-tai-quay/hoa-don" class="logo d-flex align-items-center">
            <img src="../../../static/img/logo.png" alt="">
            <span class="d-none d-lg-block">S-Shoe</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <!--                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text=""></span>-->
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <!--                        <h6 th:text="${tenNhanVien}"></h6>-->
                        <span>Nhân Viên</span>
                    </li>

                    <!--                    <li>-->
                    <!--                        <hr class="dropdown-divider">-->
                    <!--                    </li>-->

                    <!--                    <li>-->
                    <!--                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">-->
                    <!--                            <i class="bi bi-person"></i>-->
                    <!--                            <span>Thông tin của tôi</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Đăng Xuất</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/thong-ke">
                <i class="bi bi-graph-up-arrow"></i>
                <span>Thống Kê</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/ban-hang-tai-quay/hoa-don">
                <i class="bi bi-shop"></i>
                <span>Bán Hàng</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản Lý Sản Phẩm</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/san-pham-chi-tiet">
                        <i class="bi bi-circle"></i><span>Sản Phẩm Chi Tiết</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/san-pham">
                        <i class="bi bi-circle"></i><span>Sản Phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/thuong-hieu">
                        <i class="bi bi-circle"></i><span>Thương Hiệu</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/loai-de">
                        <i class="bi bi-circle"></i><span>Loại Đế</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/mau-sac">
                        <i class="bi bi-circle"></i><span>Màu Sắc</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/kich-co">
                        <i class="bi bi-circle"></i><span>Kích Cỡ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/hoa-don/quan-ly">
                <i class="bi bi-receipt-cutoff"></i>
                <span>Quản Lý Hóa Đơn</span>
            </a>
        </li><!-- End Forms Nav -->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="/ban-hang-tai-quay/doi-tra">-->
<!--                <i class="bi bi-truck"></i>-->
<!--                <span>Trả hàng</span>-->
<!--            </a>-->
<!--        </li>&lt;!&ndash; End Forms Nav &ndash;&gt;-->
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-vcard"></i><span>Quản Lý Tài Khoản</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/nhan-vien" class="active">
                        <i class="bi bi-circle"></i><span>Quản lý nhân viên</span>
                    </a>
                </li>
                <li>
                    <a href="../admin/khach-hang">
                        <i class="bi bi-circle"></i><span>Quản lý khách hàng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="../admin/voucher">
                <i class="bi bi-ticket-perforated-fill"></i>
                <span>Quản Lý Voucher</span>
            </a>
        </li><!-- End Icons Nav -->
    </ul>


</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản Lý Nhân Viên</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <a class="btn btn-link" style="float: left;margin-top: 1%;"
                                   href="/admin/nhan-vien">
                                    <i class=" bi bi-arrow-left-circle-fill"></i>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <h1 class="modal-title fs-5"
                                    style="text-align: center;margin-bottom: 2%;">Cập Nhật
                                    Nhân Viên</h1>
                            </div>
                        </div>
                        <!-- form sửa khách hàng -->
                        <form class="row g-3" style="margin-top: 1%;margin-bottom: 5%;" method="post"
                              enctype="multipart/form-data"
                              th:action="@{/admin/nhan-vien/update}"
                              th:object="${nhanVien}"
                        >
                            <input type="hidden" th:field="*{id}" name="id">
                            <input hidden type="date" th:field="*{ngayTao}">
                            <div class="col-md-6">
                                <label class="form-label">
                                    <span class="dau-sao">*</span>Tên tài khoản:</label>
                                <input type="text" class="form-control"
                                       placeholder="Nhập tên tài khoản" th:field="*{tenTaiKhoan}" readonly>
                                <span class="check-loi" th:errors="*{tenTaiKhoan}"></span>
                                <span class="check-loi" th:text="${checkTenTrung}"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">
                                    <span class="dau-sao">*</span>Tên nhân viên:</label>
                                <input type="text" class="form-control" placeholder="Nhập tên nhân viên"
                                       th:field="*{hoVaTen}">
                                <span class="check-loi" th:errors="*{hoVaTen}"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">
                                    <span class="dau-sao">*</span>Ngày sinh:</label>
                                <input type="date" class="form-control" th:field="*{ngaySinh}">
                                <span class="check-loi" th:errors="*{ngaySinh}"></span>
                                <span class="check-loi" th:if="${checkNgaySinh=='ngaySinh'}">Năm sinh phải lớn 1900</span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">
                                    <span class="dau-sao">*</span>Giới tính:</label>
                                <div style="margin-top: 1%;">
                                    <input class="form-check-input" type="radio" name="gridRadios"
                                           style="margin-left:5%;" checked th:field="*{gioiTinh}"
                                           value="0">
                                    <label class="form-check-label">
                                        Nam
                                    </label>

                                    <input class="form-check-input" type="radio" name="gridRadios"
                                           style="margin-left:5%;" th:field="*{gioiTinh}"
                                           value="1">
                                    <label class="form-check-label">
                                        Nữ
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">
                                    <span class="dau-sao">*</span>Số điện thoại:</label>
                                <input type="text" class="form-control"
                                       placeholder="Nhập số điện thoại" th:field="*{soDienThoai}">
                                <span class="check-loi" th:errors="*{soDienThoai}"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">
                                    <span class="dau-sao">*</span>Trạng thái:</label>
                                <div style="margin-top: 1%;">
                                    <input class="form-check-input" type="radio" name="trangThai"
                                           style="margin-left:5%;" checked th:field="*{trangThai}"
                                           value="0">
                                    <label class="form-check-label">
                                        Đang hoạt động
                                    </label>

                                    <input class="form-check-input" type="radio" name="trangThai"
                                           style="margin-left:5%;" checked th:field="*{trangThai}"
                                           value="1">
                                    <label class="form-check-label">
                                        Ngừng hoạt động
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label class="form-label">
                                    <span class="dau-sao">*</span>Email:</label>
                                <input type="email" class="form-control" placeholder="Nhập email"
                                       th:field="*{email}">
                                <span class="check-loi" th:errors="*{email}"></span>
                                <span class="check-loi" th:text="${checkEmailTrung}"></span>
                            </div>

                            <div class="col-12" hidden="hidden">
                                <label class="form-label"><span class="dau-sao">*</span>Mật
                                    Khẩu:</label>
                                <input type="text" class="form-control"
                                       placeholder="Nhập địa chỉ mật khẩu" th:field="*{matKhau}"/>
                                <span class="check-loi" th:errors="*{matKhau}"></span>
                            </div>
                            <div class="modal-footer">
                                </button>
                                <button data-bs-toggle="modal" type="button" data-bs-target="#modalDoiMatKhau" class="btn btn-primary" style="margin-right: 5%">Đổi mật khẩu</button>

                                <button type="submit" class="btn btn-warning">Cập nhật</button>
                            </div>
                        </form>
                        <!-- form sửa khách hàng end-->
                        <!-- Modal -->
                        <script th:if="${checkModalLoi=='true'}">
                            // <script>
                            //     function showToast() {
                            //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastWarning'));
                            //         liveToast.show();
                            //     }
                            //     // Show the toast when the page loads
                            //     document.addEventListener('DOMContentLoaded', showToast);
                            //
                            window.addEventListener('DOMContentLoaded', (event) => {
                                // Hiển thị modal
                                var liveToast = new bootstrap.Modal(document.getElementById('modalDoiMatKhau'));
                                liveToast.show();
                            });
                        </script>
                        <div class="modal fade" id="modalDoiMatKhau" tabindex="-1" aria-labelledby="modalDoiMatKhauLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 100%;margin: auto">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="modalDoiMatKhauLabel">Đổi mật khẩu</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formDoiMauKhau" th:action="@{/admin/nhan-vien/update-mat-khau}" method="get">
                                            <div class="mb-3">
                                                <input type="hidden" th:value="${id}" name="idNhanVien">
                                                <label for="matKhauCu" class="form-label">Mật khẩu cũ</label>
                                                <input type="password" class="form-control" id="matKhauCu" name="matKhauCu" placeholder="Nhập mật khẩu cũ">
                                                <div class="check-loi" style="display: none" id="idmatKhauCu"></div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="matKhauMoi" class="form-label">Mật khẩu mới</label>
                                                <input type="password" class="form-control" id="matKhauMoi" placeholder="Nhập mật khẩu mới">
                                                <div class="check-loi" style="display: none" id="idmatKhauMoi" name="matKhauMoi"></div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nhapLaiMatKhauMoi" class="form-label">Nhập lại mật khẩu mới</label>
                                                <input type="password" class="form-control" id="nhapLaiMatKhauMoi" name="nhapLaiMatKhauMoi" placeholder="Nhập lại mật khẩu mới">
                                                <div class="check-loi" style="display: none" id="idnhapLaiMatKhauMoi" ></div>
                                                <div class="check-loi" id="messages" th:text="${messages}"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button type="submit" form="formDoiMauKhau" onclick="return checkDoiMatKhauFormNhanVien()" class="btn btn-primary">Xác nhận</button>
                                    </div>
                                    <script>
                                        function checkDoiMatKhauFormNhanVien() {
                                            var check = true
                                            var matKhauCu = document.getElementById("matKhauCu")
                                            var matKhauMoi = document.getElementById("matKhauMoi")
                                            var nhapLaiMatKhauMoi = document.getElementById("nhapLaiMatKhauMoi")
                                            var idmatKhauCu = document.getElementById("idmatKhauCu")
                                            var idmatKhauMoi = document.getElementById("idmatKhauMoi")
                                            var idnhapLaiMatKhauMoi = document.getElementById("idnhapLaiMatKhauMoi")
                                            var messages = document.getElementById("messages")
                                            idmatKhauCu.style.display = 'none'
                                            idmatKhauMoi.style.display = 'none'
                                            idnhapLaiMatKhauMoi.style.display = 'none'
                                            messages.style.display = 'none'
                                            if (matKhauCu.value.trim()==''){
                                                idmatKhauCu.style.display = 'block'
                                                idmatKhauCu.innerText = 'Không được để trống mật khẩu mới'
                                                check = false
                                            }
                                            if (matKhauMoi.value.trim()==''){
                                                idmatKhauMoi.style.display = 'block'
                                                idmatKhauMoi.innerText = 'Không được để trống mật khẩu mới'
                                                check = false
                                            }
                                            if (nhapLaiMatKhauMoi.value.trim()==''){
                                                idnhapLaiMatKhauMoi.style.display = 'block'
                                                idnhapLaiMatKhauMoi.innerText = 'Không được để trống mật khẩu mới'
                                                check = false
                                            }
                                            if (nhapLaiMatKhauMoi.value!=matKhauMoi.value){
                                                idnhapLaiMatKhauMoi.style.display = 'block'
                                                idnhapLaiMatKhauMoi.innerText = 'Mật khẩu mới không trùng nhau'
                                                check = false
                                            }
                                            return check

                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!--Thông báo thành công-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='thanhCong'}">
        // <script>
        //     function showToast() {
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastSuccess'));
        //         liveToast.show();
        //
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastDanger'));
        //         liveToast.show();
        //
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastWarning'));
        //         liveToast.show();
        //     }
        //     // Show the toast when the page loads
        //     document.addEventListener('DOMContentLoaded', showToast);
        //
        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastSuccess'));
            liveToast.show();
        });
    </script>
    <div id="liveToastSuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="  background-color: rgba(62, 189, 97,0.2);border:2px solid #3ebd61;  border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_notification.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                    <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: #3ebd61;">
                        Thành công</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo thành công end-->


<!--Thông báo thất bại-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='thaiBai'}">
        // <script>
        //     function showToast() {
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastWarning'));
        //         liveToast.show();
        //     }
        //     // Show the toast when the page loads
        //     document.addEventListener('DOMContentLoaded', showToast);
        //
        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastDanger'));
            liveToast.show();
        });
    </script>
    <div id="liveToastDanger" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="background-color: rgb(252,134,134);border:2px solid #ff2020;border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_danger.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                    <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: white;">
                        Lỗi</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo thất bại end-->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        <!-- &copy; Copyright <strong><span>Glacat</span></strong>. All Rights Reserved -->
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Website bán giày S-Shoe
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!--    thư viện của bảng tích hợp tìm kiếm-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js'></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "language": {
                "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ kết quả",
                "emptyTable": "Không có kết quả nào được tìm thấy",
                "zeroRecords": "Không có kết quả phù hợp",
                "infoEmpty": "Không có dữ liệu để hiển thị"
            },
            "initComplete": function (settings, json) {
                // CSS changes
                $('#example_filter input[type="search"]').addClass('form-control');
                $('#example_filter input[type="search"]').attr('placeholder', 'Tìm kiếm');
                $('#example_filter label').contents().filter(function () {
                    return this.nodeType === 3;
                }).replaceWith(' ');

                $('#example_length label').contents().filter(function () {
                    return this.nodeType === 3;
                }).first().replaceWith('Hiển thị');
                $('#example_length label').contents().filter(function () {
                    return this.nodeType === 3;
                }).last().replaceWith('mục');

                $('#example_length select').addClass('form-select');
            }
        });

        table.on('draw.dt', function () {
            var pageInfo = table.page.info();

            var newInfo = 'Hiển thị ' + pageInfo.start + ' đến ' + pageInfo.end + ' trong tổng số ' + pageInfo.recordsDisplay + ' kết quả';
            $('#example_info').html(newInfo);

        });
    });
</script>
<style>
    /*input tìm kiếm*/
    #example_filter input[type="search"] {
        width: 180%;
        margin-left: -80%;
        margin-bottom: 10%;
    }

    /*select hiển thị mục*/
    .dataTables_length label {
        white-space: nowrap; /* Ngăn các phần tử xuống dòng */
        display: flex; /* Hiển thị label và select trên cùng một dòng */
        align-items: center; /* Canh chỉnh label và select theo chiều dọc */
    }

    .dataTables_length select {
        margin-left: 5px; /* Tạo khoảng cách giữa label và select */
    }

    .dataTables_length label:after {
        /* Sử dụng pseudo-element :after để ẩn văn bản cuối cùng */
        content: ''; /* Xóa nội dung */
    }
</style>
<!--    thư viện của bảng tích hợp tìm kiếm end-->

<div th:replace="~{admin/fragment/script :: script}"></div>

</body>

</html>