<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/img/favicon.png" rel="icon">
    <title>S-shoe</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- Favicons -->
    <div th:replace="~{admin/fragment/header :: header}"></div>
    <!--    thư viện toast-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    thư viện toast-->

</head>

<body>

<main>
    <div class="container">
        <th:block th:if="${session.msg}">
            <p class="text-center text-success fs-4">[[${session.msg}]]</p>
            <!--            <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>-->

        </th:block>

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <div class="d-flex justify-content-center py-4">
                                <div class="logo d-flex align-items-center w-auto">
                                    <img src="../../static/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">S-Shoe</span>
                                </div>
                            </div><!-- End Logo -->
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Đăng Ký</h5>
                                    <p class="text-center small">Nhập thông tin cá nhân của bạn để tạo tài khoản</p>
                                </div>

                                <form class="row g-3 needs-validation" novalidate th:action="@{/them-tai-khoan}"
                                      method='post'>
                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Email của bạn:</label>
                                        <input type="email" name="email" class="form-control" placeholder="Nhập email" id="yourEmail">
                                        <div class="check-loi" id="checkEmailAdd" style="display: none"></div>
                                        <div class="check-loi" th:text="${checkTrungEmail}" ></div>

                                    </div>

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Tên tài khoản:</label>
                                        <input type="text" name="username" class="form-control" placeholder="Nhập tên tài khoản" id="yourUsername"
                                               required>
                                        <div class="check-loi" id="checkTenTaiKhoanAdd" style="display: none"></div>
                                        <div class="check-loi" th:text="${checkTrungTenTaiKhoan}"></div>

                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Mật khẩu:</label>
                                        <input type="password" name="password" placeholder="Nhập mật khẩu" class="form-control" id="yourPassword"
                                               required>
                                        <div class="check-loi" id="checkMatKhauAdd" style="display: none"></div>
                                        <!--                                        <div class="invalid-feedback">Please enter your password!</div>-->
                                    </div>

                                    <!--                                    <div class="col-12">-->
                                    <!--                                        <div class="form-check">-->
                                    <!--                                            <input class="form-check-input" name="terms" type="checkbox" value=""-->
                                    <!--                                                   id="acceptTerms" required>-->
                                    <!--                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a-->
                                    <!--                                                    href="#">terms and conditions</a></label>-->
                                    <!--                                            <div class="invalid-feedback">You must agree before submitting.</div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" onclick="return checkDangKy()" type="submit">Tạo tài khoản</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Bạn có sẵn sàng để tạo một tại khoản? <a
                                                href="/login">Đăng nhập</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->
<script>

    function checkTextEmail(textEmail){
        var email = /^[A-Za-z0-9+_.-]+@([^\s@]+)$/
        return email.test(textEmail)
    }

    function checkTextUser(textUsername){
        var username = /^[a-zA-Z0-9]+$/
        return username.test(textUsername)
    }

    function checkDangKy() {
        var isValid = true;

        var checkEmail = document.getElementById("yourEmail");
        var checkEmailAdd = document.getElementById("checkEmailAdd");
        checkEmailAdd.style.display = 'none'
        if (checkEmail.value.trim() == '') {
            checkEmailAdd.style.display = 'block'
            checkEmailAdd.innerText = 'Bạn chưa nhập email'
            isValid = false;
        }else if(!checkTextEmail(checkEmail.value.trim())){
            checkEmailAdd.style.display = 'block'
            checkEmailAdd.innerText = 'Email không hợp lệ'
            isValid = false;
        }

        var checkUsername = document.getElementById("yourUsername");
        var checkTenTaiKhoanAdd = document.getElementById("checkTenTaiKhoanAdd");
        checkTenTaiKhoanAdd.style.display = 'none'
        if (checkUsername.value.trim() == '') {
            checkTenTaiKhoanAdd.style.display = 'block'
            checkTenTaiKhoanAdd.innerText = 'Bạn chưa nhập tên tài khoản'
            isValid = false;
        }else if(!checkTextUser(checkUsername.value)){
            checkTenTaiKhoanAdd.style.display = 'block'
            checkTenTaiKhoanAdd.innerText = 'Tên tài khoản không hợp lệ'
            isValid = false;
        }

        var checkPass = document.getElementById("yourPassword");
        var checkMatKhauAdd = document.getElementById("checkMatKhauAdd");
        checkMatKhauAdd.style.display = 'none'
        if (checkPass.value.trim() == '') {
            checkMatKhauAdd.style.display = 'block'
            checkMatKhauAdd.innerText = 'Bạn chưa nhập mật khẩu'
            isValid = false;
        }
        return isValid;
    }

</script>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer" style="margin: auto">

    <div class="credits">
        Website bán giày S-Shoe
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../static/vendor/apexcharts/apexcharts.min.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/vendor/chart.js/chart.umd.js"></script>
<script src="../../static/vendor/echarts/echarts.min.js"></script>
<script src="../../static/vendor/quill/quill.min.js"></script>
<script src="../../static/vendor/simple-datatables/simple-datatables.js"></script>
<script src="../../static/vendor/tinymce/tinymce.min.js"></script>
<script src="../../static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../../static/js/main.js"></script>

</body>

</html>