<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S-Shoe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="../../static/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"/>
    <link rel="stylesheet" href="../../static/fonts/icomoon/style.css"/>

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/magnific-popup.css"/>
    <link rel="stylesheet" href="../../static/css/jquery-ui.css"/>
    <link rel="stylesheet" href="../../static/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css"/>

    <link rel="stylesheet" href="../../static/css/aos.css"/>

    <link rel="stylesheet" href="../../static/css/style-customer-template.css"/>
</head>
<body>
<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form action="" class="site-block-top-search">
                            <span class="icon icon-search2"></span>
                            <input type="text" class="form-control border-0" id="timKiemAll"
                                   placeholder="Tìm kiếm theo tên sản phẩm"/>
                            <script>
                                var inputElementTimKiemAll = document.getElementById('timKiemAll');

                                inputElementTimKiemAll.addEventListener('blur', function () {
                                    var inputValueTimKiemAll = inputElementTimKiemAll.value;
                                    console.log('Giá trị của input:', inputValueTimKiemAll);

                                    var fullUrl = window.location.origin + "/shop"

                                    if (inputValueTimKiemAll !== '') {
                                        fullUrl = updateQueryStringParameterAll('keyword', inputValueTimKiemAll, fullUrl);
                                    } else {
                                        fullUrl = removeQueryStringParameterAll('keyword', fullUrl);
                                    }

                                    window.location.href = fullUrl

                                });

                                // Hàm cập nhật giá trị của query parameter trong URL
                                function updateQueryStringParameterAll(key, value, url) {
                                    var regex = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                                    var separator = url.indexOf('?') !== -1 ? "&" : "?";
                                    if (url.match(regex)) {
                                        return url.replace(regex, '$1' + key + "=" + value + '$2');
                                    } else {
                                        return url + separator + key + "=" + value;
                                    }
                                }

                                // Hàm xóa query parameter khỏi URL
                                function removeQueryStringParameterAll(key, url) {
                                    var urlParts = url.split('?');
                                    if (urlParts.length >= 2) {
                                        var prefix = encodeURIComponent(key) + '=';
                                        var queryString = urlParts[1].split('&');

                                        for (var i = queryString.length - 1; i >= 0; i--) {
                                            if (queryString[i].lastIndexOf(prefix, 0) !== -1) {
                                                queryString.splice(i, 1);
                                            }
                                        }

                                        url = urlParts[0] + (queryString.length > 0 ? '?' + queryString.join('&') : '');
                                    }

                                    return url;
                                }
                            </script>

                        </form>
                    </div>

                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/home" class="js-logo-clone">S-Shoe</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <ul class="nav nav-pills" style="margin-left: 54%">
                                <li class="nav-item dropdown" th:if="${checkDangNhap=='true'}">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                       role="button" aria-expanded="false"><span class="icon icon-person"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/user/thong-tin-khach-hang">Tài Khoản Của
                                            Tôi</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/user/don-mua">Đơn Mua</a></li>
                                        <li><a class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown" th:if="${checkDangNhap=='false'}">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                       role="button" aria-expanded="false"><span class="icon icon-person"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/login">Đăng Nhập</a></li>

                                    </ul>
                                </li>

                                <li class="nav-item" style="margin-top: 5%;margin-left: -5%">
                                    <a class="site-cart" href="/user/cart">
                                        <span class="icon icon-shopping_cart"></span>
                                        <span class="count" th:if="${checkDangNhap=='true'}"
                                              th:text="${soLuongSPGioHangCT}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li><a href="/home">Trang Chủ</a> </li>
                    <li><a href="/shop">Sản Phẩm</a> </li>
                    <li><a href="/lien-he">Liên Hệ</a> </li>
                    <li><a href="/chich-sach">Chính Sách</a> </li>
                    <li><a href="/tra-cuu-don-hang">Tra Cứu Đơn Hàng</a> </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="icon-check_circle display-3 text-success"></span>
                    <h2 class="display-3 text-black">Cảm ơn!</h2>
                    <p class="lead mb-5">Đơn hàng của bạn đã được hoàn tất thành công!</p>
                    <p><a href="/shop" class="btn btn-sm btn-primary">Quay trở lại cửa hàng!</a></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4">Navigations</h3>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Sell online</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Shopping cart</a></li>
                                <li><a href="#">Store builder</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Mobile commerce</a></li>
                                <li><a href="#">Dropshipping</a></li>
                                <li><a href="#">Website development</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Point of sale</a></li>
                                <li><a href="#">Hardware</a></li>
                                <li><a href="#">Software</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <h3 class="footer-heading mb-4">Promo</h3>
                    <a href="#" class="block-6">
                        <img src="../../static/img/hero_1.jpg" alt="Image placeholder"
                             class="img-fluid rounded mb-4"/>
                        <h3 class="font-weight-light mb-0">
                            Finding Your Perfect Shoes
                        </h3>
                        <p>Promo from nuary 15 &mdash; 25, 2019</p>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address">
                                203 Fake St. Mountain View, San Francisco, California, USA
                            </li>
                            <li class="phone">
                                <a href="tel://23923929210">+2 392 3929 210</a>
                            </li>
                            <li class="email">emailaddress@domain.com</li>
                        </ul>
                    </div>

                    <div class="block-7">
                        <form action="#" method="post">
                            <label for="email_subscribe" class="footer-heading">Subscribe</label>
                            <div class="form-group">
                                <input type="text" class="form-control py-4" id="email_subscribe"
                                       placeholder="Email"/>
                                <input type="submit" class="btn btn-sm btn-primary" value="Send"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/jquery-ui.js"></script>
<script src="../../static/js/popper.min.js"></script>

<script src="../../static/js/owl.carousel.min.js"></script>
<script src="../../static/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/js/aos.js"></script>

<script src="../../static/js/main.js"></script>
</body>
</html>