<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>S-Shoe</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="../../../static/img/favicon.png" rel="icon">
    <link href="../../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <div th:replace="~{admin/fragment/header :: header}"></div>


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/ban-hang-tai-quay/hoa-don" class="logo d-flex align-items-center">
            <img src="../../../static/img/logo.png" alt="">
            <span class="d-none d-lg-block">S-Shoe</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${tenNhanVien}"></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 th:text="${tenNhanVien}"></h6>
                        <span>Nhân Viên</span>
                    </li>

                    <!--                    <li>-->
                    <!--                        <hr class="dropdown-divider">-->
                    <!--                    </li>-->

                    <!--                    <li>-->
                    <!--                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">-->
                    <!--                            <i class="bi bi-person"></i>-->
                    <!--                            <span>Thông tin của tôi</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Đăng Xuất</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/thong-ke">
                <i class="bi bi-graph-up-arrow"></i>
                <span>Thống Kê</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/ban-hang-tai-quay/hoa-don">
                <i class="bi bi-shop"></i>
                <span>Bán Hàng</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản Lý Sản Phẩm</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/san-pham-chi-tiet">
                        <i class="bi bi-circle"></i><span>Sản Phẩm Chi Tiết</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/san-pham">
                        <i class="bi bi-circle"></i><span>Sản Phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/thuong-hieu">
                        <i class="bi bi-circle"></i><span>Thương Hiệu</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/loai-de" class="active">
                        <i class="bi bi-circle"></i><span>Loại Đế</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/mau-sac">
                        <i class="bi bi-circle"></i><span>Màu Sắc</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/kich-co">
                        <i class="bi bi-circle"></i><span>Kích Cỡ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/hoa-don/quan-ly">
                <i class="bi bi-receipt-cutoff"></i>
                <span>Quản Lý Hóa Đơn</span>
            </a>
        </li><!-- End Forms Nav -->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="/ban-hang-tai-quay/doi-tra">-->
<!--                <i class="bi bi-truck"></i>-->
<!--                <span>Trả hàng</span>-->
<!--            </a>-->
<!--        </li>&lt;!&ndash; End Forms Nav &ndash;&gt;-->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-vcard"></i><span>Quản Lý Tài Khoản</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/nhan-vien">
                        <i class="bi bi-circle"></i><span>Quản lý nhân viên</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/khach-hang">
                        <i class="bi bi-circle"></i><span>Quản lý khách hàng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/voucher">
                <i class="bi bi-ticket-perforated-fill"></i>
                <span>Quản Lý Voucher</span>
            </a>
        </li><!-- End Icons Nav -->
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Danh Sách Màu Sắc</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-link" style="float: left;margin-top: 1%;"
                           href="/admin/mau-sac">
                            <i class=" bi bi-arrow-left-circle-fill"></i>
                        </a>
                        <!-- form thêm thuộc tính -->
                        <form method="post" style="width: 55%;margin: auto"   th:action="@{/admin/mau-sac/update}"  th:object="${mauSac}">
                            <input type="hidden" th:field="*{id}" name="id">
                            <h1 class="modal-title fs-5"
                                style="text-align: center;;margin-top: 10%;margin-bottom: 5%;">Cập Nhật
                                Màu Sắc</h1>

                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label" style="float: left;">
                                    <span style="color: red;">*</span>
                                    Màu Sắc
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Nhập tên sản phẩm"
                                           th:field="*{ten}"/>
                                    <span class="check-loi" th:errors="*{ten}"></span>
                                    <span class="check-loi" th:text="${checkTenTrung}"></span>

                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-4 pt-0">
                                    <span style="color: red;">*</span>
                                    Trạng Thái
                                </legend>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="0" name="trangThai"
                                               th:field="*{trangThai}">
                                        <label class="form-check-label" style="float: left;">
                                            Đang hoạt động
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="trangThai" value="1"
                                               th:field="*{trangThai}">
                                        <label class="form-check-label" style="float: left;">
                                            Ngừng hoạt động
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <button type="submit" class="btn btn-warning"
                                    style="display: block;margin: auto;margin-top: 5%;margin-bottom: 5%;">Cập
                                nhật
                            </button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        <!-- &copy; Copyright <strong><span>Glacat</span></strong>. All Rights Reserved -->
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        <!-- Website bán giày Glacat  -->
    </div>
</footer><!-- End Footer -->

<!--Thông báo thất bại-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='thaiBai'}">
        // <script>
        //     function showToast() {
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastWarning'));
        //         liveToast.show();
        //     }
        //     // Show the toast when the page loads
        //     document.addEventListener('DOMContentLoaded', showToast);
        //
        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastDanger'));
            liveToast.show();
        });
    </script>
    <div id="liveToastDanger" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="background-color: rgb(252,134,134);border:2px solid #ff2020;border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_danger.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                    <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: white;">
                        Lỗi</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo thất bại end-->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<div th:replace="~{admin/fragment/script :: script}"></div>

</body>

</html>